@import '../../../../assets/styles/main.scss';

.logo {
  height: 48px;
  margin: 16px;
  &__image {
    width: 100%;
    cursor: pointer;
  }
}

.inner-content {
  padding: 24px;
  background: $color-white;
  min-height: 360px;
}

.notification {
  font-size: 16px;
  cursor: pointer;
  span {
    font-size: 20px;
    color: $color-prussian-blue;
  }
}

.flags {
  height: 18px;
  cursor: pointer;
}

.events {
  text-align: center;
  margin: 0 5px;
}

.ant-dropdown-menu-item,
.ant-drop {
  padding: 5px 12px !important;
}

.session-container {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  padding: 0px 4px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  border-radius: 50%;

  height: 40px;
  width: 40px;

  background-color: $color-prussian-blue;

  span {
    font-weight: 700;
    font-size: 1.2em;
    color: $color-white;
  }
}

.cursor {
  cursor: pointer;
  font-size: 13px;
}

.ant-dropdown-menu-item,
.ant-drop {
  padding: 10px 12px !important;
}
.logout-icon {
  margin-right: 10px;
}

.menu-admin-bo {
  background: #4a6271;
  background: linear-gradient(0deg, #22303a 0%, #4a6271 94%);
  height: 102%;
  margin-top: -16px;
  padding-top: 15px;
}

.ant-menu-item .ant-menu-item-icon + span,
.ant-menu-submenu-title .ant-menu-item-icon + span,
.ant-menu-item .anticon + span,
.ant-menu-submenu-title .anticon + span {
  line-height: 110%;
}
