<ngx-spinner bdColor="rgba(0, 47, 77, 0.9)" type="ball-8bits">
  <nz-spin nzSimple nzSize="large"></nz-spin>
  <div class="loading-list">{{ 'loading' | transloco }}</div>
</ngx-spinner>

<h3 class="title-page">{{ 'queryMassiveHistoric' | transloco }}</h3>
<div class="container">
  <div class="container-card">
    <div class="row">
      <div *ngIf="rolId === baseRoles.SUPER_ADMIN" class="col-auto my-2">
        <span class="required">
          {{ 'client' | transloco }}
        </span>
        <nz-select
          nzShowSearch
          nzAllowClear
          [(ngModel)]="client_id"
          [nzPlaceHolder]="'selectClient' | transloco"
        >
          <nz-option
            *ngFor="let item of clientsList"
            [nzLabel]="item.name"
            [nzValue]="item.client_id"
          ></nz-option>
        </nz-select>
      </div>

      <div class="col-xxl-4 col-xl-5 col-lg-8 my-2">
        <input
          class="input"
          type="text"
          nz-input
          [placeholder]="'insertWord' | transloco"
          [(ngModel)]="filter"
        />
      </div>

      <div class="col-auto my-2 pe-0">
        <nz-range-picker
          [(ngModel)]="selectedStartDate"
          [(ngModel)]="selectedEndDate"
        ></nz-range-picker>
      </div>
      <div class="col-auto my-2 px-0">
        <div nz-row>
          <button class="icon-button-search" (click)="searchMassiveHistoric()">
            <span nz-icon nzType="search" class="icon-button-search--icon"></span>
            <span class="icon-button-search--text">{{ 'search' | transloco }}</span>
          </button>
          <button class="icon-button-delete" (click)="cleanFilters()">
            <span nz-icon nzType="close" class="icon-button-delete--icon"></span>
            <span class="icon-button-delete--text">{{ 'cleanFilter' | transloco }}</span>
          </button>
        </div>
      </div>
    </div>

    <br />

    <nz-table
      #basicTable
      class="table-responsive"
      [nzData]="historyList"
      [nzFrontPagination]="false"
      *ngIf="historyList?.length !== 0"
    >
      <thead class="header">
        <tr class="header--title">
          <th nzAlign="center">{{ 'loadFile' | transloco }}</th>
          <th nzAlign="center">{{ 'consultStartDate' | transloco }}</th>
          <th nzAlign="center">{{ 'consultEndDate' | transloco }}</th>
          <th nzAlign="center">{{ 'totalQuery' | transloco }}</th>
          <th nzAlign="center">{{ 'totalExcecuted' | transloco }}</th>
          <th nzAlign="center">{{ 'Hora de consulta' | transloco }}</th>
          <th nzAlign="center">{{ 'fileName' | transloco }}</th>
          <th nzAlign="center">{{ 'progress' | transloco }}</th>
          <th nzAlign="center"></th>
        </tr>
      </thead>
      <tbody class="header">
        <tr class="header--field" *ngFor="let data of historyList">
          <td nzAlign="center" style="font-size: 25px">
            <span
              nz-icon
              nzType="download"
              nzTheme="outline"
              (click)="downloadLoadedFile(data)"
            ></span>
          </td>
          <td nzAlign="center">{{ data.create_date.split('T')[0] }}</td>
          <td nzAlign="center">{{ data.end_date.split('T')[0] }}</td>
          <td nzAlign="center">{{ data.total_queries }}</td>
          <td nzAlign="center">{{ data.total_executed }}</td>
          <td nzAlign="center">{{ data.create_time }}</td>
          <td nzAlign="center">
            <span class="filename-custom">{{ data.file_name }}</span>
          </td>
          <td>
            <nz-progress
              [nzPercent]="data.progress * 100"
              nzType="circle"
              [nzWidth]="50"
            ></nz-progress>
          </td>
          <td>
            <div>
              <button
                nz-button
                nzType="primary"
                nzShape="round"
                class="downloadReport"
                (click)="getProgressReport(data)"
              >
                {{ 'downloadReport' | transloco }}
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <div class="row justify-content-center">
      <div class="col-auto">
        <nz-pagination
          *ngIf="historyList?.length !== 0"
          [nzPageIndex]="pageIndex"
          [nzTotal]="totalRows"
          nzShowSizeChanger
          [nzResponsive]="true"
          (nzPageIndexChange)="onPageIndexChange($event)"
          (nzPageSizeChange)="onPageSizeChange($event)"
        ></nz-pagination>
      </div>
    </div>
  </div>
</div>
