<ngx-spinner bdColor="rgba(0, 47, 77, 0.9)" type="ball-8bits">
  <nz-spin nzSimple nzSize="large"></nz-spin>
  <div class="loading-list">{{ 'loading' | transloco }}</div>
</ngx-spinner>

<h3 class="title-page">{{ 'querySingleHistoric' | transloco }}</h3>

<div class="container">
  <div class="container-card">
    <div class="row">
      <div class="col-auto my-2">
        <span class="required">
          {{ 'country' | transloco }}
        </span>
      </div>
      <div class="col-xxl-2 col-xl-2 col-lg-4 my-2">
        <nz-select
          nzShowSearch
          nzAllowClear
          [(ngModel)]="country_id"
          [nzPlaceHolder]="'selectCountry' | transloco"
        >
          <nz-option
            *ngFor="let item of countryList"
            [nzLabel]="item.country_name"
            [nzValue]="item.country_id"
          ></nz-option>
        </nz-select>
      </div>

      <div *ngIf="rolId === baseRoles.SUPER_ADMIN" class="col-auto my-2">
        <span class="required">
          {{ 'client' | transloco }}
        </span>
      </div>
      <div *ngIf="rolId === baseRoles.SUPER_ADMIN" class="col-xxl-2 col-xl-3 my-2">
        <nz-select
          nzShowSearch
          nzAllowClear
          [(ngModel)]="name"
          [nzPlaceHolder]="'selectClient' | transloco"
        >
          <nz-option
            *ngFor="let item of clientsList"
            [nzLabel]="item.name"
            [nzValue]="item.name"
          ></nz-option>
        </nz-select>
      </div>

      <div class="col-xxl-4 col-xl-3 my-2">
        <input
          class="input"
          type="text"
          nz-input
          [placeholder]="'insertWord' | transloco"
          [(ngModel)]="filter"
        />
      </div>

      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-12 my-2 pe-0 me-lg-4">
        <nz-range-picker
          [(ngModel)]="selectedStartDate"
          [(ngModel)]="selectedEndDate"
        ></nz-range-picker>
      </div>
      <div class="col-auto my-2 px-0">
        <div nz-row>
          <button class="icon-button-search" (click)="searchHistoric()">
            <span nz-icon nzType="search" class="icon-button-search--icon"></span>
            <span class="icon-button-search--text">{{ 'search' | transloco }}</span>
          </button>
          <button class="icon-button-delete" (click)="cleanFilters()">
            <span nz-icon nzType="close" class="icon-button-delete--icon"></span>
            <span class="icon-button-delete--text">{{ 'cleanFilter' | transloco }}</span>
          </button>
        </div>
      </div>
    </div>

    <br />

    <nz-table
      #basicTable
      [nzData]="historyList"
      [nzFrontPagination]="false"
      *ngIf="historyList?.length !== 0"
    >
      <thead class="header">
        <tr class="header--title">
          <th nzAlign="center">{{ 'country' | transloco }}</th>
          <th nzAlign="center">{{ 'personType' | transloco }}</th>
          <th nzAlign="center">{{ 'idType' | transloco }}</th>
          <th nzAlign="center">{{ 'idNumber' | transloco }}</th>
          <th nzAlign="center">{{ 'queryDate' | transloco }}</th>
          <th nzAlign="center">{{ 'Hora de consulta' | transloco }}</th>
          <th nzAlign="center">{{ 'reportGeneratedBy' | transloco }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="header">
        <tr class="header--field" *ngFor="let data of historyList">
          <td nzAlign="center">{{ data?.country }}</td>
          <td nzAlign="center">{{ data?.person_type }}</td>
          <td nzAlign="center">{{ data?.id_type }}</td>
          <td nzAlign="center">{{ data?.id_number }}</td>
          <td nzAlign="center">{{ data?.consult_date }}</td>
          <td nzAlign="center">
            {{
              data.search_datetime === ' - '
                ? data.search_datetime
                : data.search_datetime.slice(11, 19)
            }}
          </td>
          <td nzAlign="center">{{ data?.report_generated_by }}</td>
          <td>
            <div>
              <button
                nz-button
                nzType="primary"
                nzShape="round"
                class="downloadReport"
                (click)="downloadReport(data)"
              >
                {{ 'downloadReport' | transloco }}
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <div class="row justify-content-center">
      <div class="col-auto">
        <nz-pagination
          *ngIf="historyList?.length !== 0"
          [nzPageIndex]="pageIndex"
          [nzTotal]="totalRows"
          nzShowSizeChanger
          [nzResponsive]="true"
          (nzPageIndexChange)="onPageIndexChange($event)"
          (nzPageSizeChange)="onPageSizeChange($event)"
        ></nz-pagination>
      </div>
    </div>
  </div>
</div>
