$color-white: #ffffff;
$color-white-smoke: #eaeaea;
$color-cultured: #f9f9f9;
$color-cultured-average: #f5f5f5;
$color-dark-silver: #707070;
$color-prussian-blue: #002f4e;
$color-turquoise-surf: #00bbc8;
$color-chinese-silver: #cccccc;
$color-turquoise-surf-opacity: #002f4d0d;
$color-platinum: #e8e8e8;
$color-american-sivler: #d1d1d1;
$color-dark-cian: #008295;
$color-red-error: #ff4d4f;
$color-red-error-alpha: #ff4d4f80;
$color-red-dark: #891313;
$color-green: #3dc447;
$color-lotion: #fdfdfd;
$color-linkedin: #0b56a2;
$color-light-red: #fec6c6;
$color-transparent: #0b56a200;
